[Unit]
Description=Template Restart Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=echo "$date did a thing" > /var/log/service-template.log

[Install]
WantedBy=multi-user.target